{% extends 'myapp/base.html' %}

{% block content %}
<div class="container form-group">
    <div class="row">
      <div class="col-lg-6">
        <h1>Add A New Entity</h1>
      </div>
      <div class="col-lg-6">
        <button onclick="window.location='{% url 'index' %}'">GO BACK</button>
      </div>
    </div>
    <form method="POST">
      {% csrf_token %}
      {% for field in form %}
        {{ field.errors}}
    <div class="row">
      <div class="col-lg-4">
          <label>{{ field.label }}</label>
      </div>
      <div class="col-lg-8">
          <input placeholder="{{ field.label }}" name="{{ field.name }}" class="form-contorl" />
      </div>
    </div>
      {% endfor %}
      <br/>
      <button type="submit" class="btn btn-default">submit</button>
    </form>
</div>
{% endblock %}
